# Variables de entorno compartidas por los servicios
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=super-secret-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Configuración del backend
NOTIFICATION_MORNING_WINDOW=08:00-09:00
NOTIFICATION_EVENING_WINDOW=18:00-19:00
NOTIFICATION_TIMEZONE=Europe/Madrid
